<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">خروج</ion-button>
    <ion-title>تسجيل دخول عضو لجنة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating"> رقم العضوية</ion-label>
      <ion-input ngModel type="committees_number" name="committees_number"></ion-input>
    </ion-item>
  
  
    <ion-button type="submit" expand="full" color="primary">تسجيل الدخول</ion-button>
  </form>
</ion-content>
