<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">المرفقات</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content [fullscreen]="true">
  <div>
    <ion-item>
      <input [(ngModel)]="photo" type="file" type="file" (change)="onFileChange($event)">
    </ion-item>
    <ion-button  color="green" class="ion-margin-top" (click)="submitForm()">Uploud</ion-button>
  </div>
  <ion-button expand="block"  color="green" fill="outline" class="ion-margin-top" routerLink="/commitment" routerDirection="backward">رجوع</ion-button>

</ion-content> -->
<ion-content padding>
  <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>Image Preview</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload</button>
  </ion-item>
</ion-content>
