<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button  routerLink="/home" routerDirection="root" ion-button icon-only>
          <ion-icon color="danger" name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>بيانات الاتصال</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="initial != undefined">
    {{ initial["result"] }} 
    <div *ngIf="initial.result == 'مؤهل' else not">
    <ion-button  expand="block" color="green" class="ion-margin-top" routerLink="/personal-info" routerDirection="forward">تعبئة البيانات</ion-button>
    </div>
    <ng-template #not>
      <ion-button  expand="block" color="green" class="ion-margin-top" routerLink="/initial-study" routerDirection="forward">لإعادة الدراسة المبدئية اضغط هنا</ion-button>
    </ng-template>
  </div>

</ion-content>