<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">بيانات الاتصال</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="contact_info">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label class="required" color="primary" floating>الإيميل</ion-label>
          <ion-input [(ngModel)]="contact_info.email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required" color="primary" floating>رقم الجوال</ion-label>
          <ion-input [(ngModel)]="contact_info.mobile_number" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الهاتف</ion-label>
          <ion-input [(ngModel)]="contact_info.phone_number" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الجوال(واتساب)</ion-label>
          <ion-input [(ngModel)]="contact_info.whatsapp_number" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم جوال قريب</ion-label>
          <ion-input [(ngModel)]="contact_info.other_number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>صلة القرابة</ion-label>
          <ion-select [(ngModel)]="contact_info.relative">
            <ion-select-option>والد</ion-select-option >
            <ion-select-option>والدة</ion-select-option >
            <ion-select-option>زوج</ion-select-option >
            <ion-select-option>زوجة</ion-select-option >
            <ion-select-option>ابن</ion-select-option >
            <ion-select-option>جد</ion-select-option >
            <ion-select-option>جدة</ion-select-option >
            <ion-select-option>أخ</ion-select-option >
            <ion-select-option>أخت</ion-select-option >
            <ion-select-option>ابن الإبن</ion-select-option >
            <ion-select-option>عم</ion-select-option >
            <ion-select-option>عمة</ion-select-option >
            <ion-select-option>خال</ion-select-option >
            <ion-select-option>خالة</ion-select-option >
            <ion-select-option>ابن الأخ</ion-select-option >
            <ion-select-option>ابن الأخت</ion-select-option >
          </ion-select>
        </ion-item>

      <ion-button (click)="logForm()" expand="block" color="green" class="ion-margin-top" routerLink="/social-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button  expand="block" color="green" fill="outline" class="ion-margin-top" routerLink="/personal-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
