<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">المعلومات المهنية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="job_info">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label class="required" color="primary"floating>المهنة</ion-label>
          <ion-select [(ngModel)]="job_info.job">
            <ion-select-option>موظف/ة حكومي/ة</ion-select-option >
            <ion-select-option>موظف/ة أهلي/ة</ion-select-option >
            <ion-select-option>متقاعد/ة</ion-select-option >
            <ion-select-option>متسبب/ة</ion-select-option >
            <ion-select-option>طالب/ة</ion-select-option >
            <ion-select-option>ربة منزل</ion-select-option >
            <ion-select-option>لايوجد</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مصدر الدخل</ion-label>
          <ion-select [(ngModel)]="job_info.salary">
            <ion-select-option>راتب شهري(قطاع عسكري/حكومي)</ion-select-option >
            <ion-select-option>راتب شهري(قطاع خاص)</ion-select-option >
            <ion-select-option>راتب تقاعد(قطاع خاص)</ion-select-option >
            <ion-select-option>الضمان الإجتماعي</ion-select-option >
            <ion-select-option>إعانة سنوية</ion-select-option >
            <ion-select-option>نشاط تجاري</ion-select-option >
            <ion-select-option>غير ذلك</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الراتب الشهري</ion-label>
          <ion-input [(ngModel)]="job_info.salary_month" > 
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكان العمل</ion-label>
          <ion-input [(ngModel)]="job_info.job_place" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هاتف العمل</ion-label>
          <ion-input [(ngModel)]="job_info.phone_number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المؤهل الجامعي</ion-label>
          <ion-select [(ngModel)]="job_info.education">
            <ion-select-option>جامعي</ion-select-option >
            <ion-select-option>ثانوي</ion-select-option >
            <ion-select-option>متوسط</ion-select-option >
            <ion-select-option>ابتدائي</ion-select-option >
            <ion-select-option>يقرأ ويكتب</ion-select-option >
            <ion-select-option>أمي</ion-select-option >
          </ion-select>
        </ion-item>
      </ion-list>

        
      <ion-button   (click)="logForm()" expand="block" color="green" class="ion-margin-top" routerLink="/home-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full"  color="green" fill="outline" class="ion-margin-top" routerLink="/social-info" routerDirection="backward">رجوع</ion-button>

    </ion-col>
  </ion-row>
</div>

</ion-content>
