<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">المعلومات الشخصية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="personal_info"  class="ion-margin ion-padding-top">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
        </ion-item>
        <ion-item>
          <ion-label  class="required" color="green-gh" floating>الاسم الاول </ion-label>
          <ion-input [(ngModel)]="personal_info.first_name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  class="required" color="green" floating>الاسم الثاني </ion-label>
          <ion-input color="page" [(ngModel)]="personal_info.second_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required" floating>اسم الجد </ion-label>
          <ion-input [(ngModel)]="personal_info.third_name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required" color="primary" floating>الاسم العائلة </ion-label>
          <ion-input [(ngModel)]="personal_info.family_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required" color="primary" floating>الجنس </ion-label>
          <ion-select [(ngModel)]="personal_info.gender" >
            <ion-select-option >انثى</ion-select-option >
            <ion-select-option >ذكر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="required" color="primary" floating> رقم الهوية </ion-label>
          <ion-input [(ngModel)]="personal_info.national_id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>جهة الإصدار:</ion-label>
          <ion-input [(ngModel)]="personal_info.place_national" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكان الميلاد</ion-label>
          <ion-input [(ngModel)]="personal_info.place_birth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ الميلاد</ion-label>
          <!-- <ion-datetime [(ngModel)]="personal_info.date_birth" displayFormat="YYYY MM DD"></ion-datetime> -->
          <mbsc-datepicker [(ngModel)]="personal_info.date_birth" [controls]="['date']" dateWheels='DD MM YYYY' [calendarSystem]="hijriCalendar" dateFormat="YYYY/MM/DD" [locale]="localeAr"></mbsc-datepicker>

        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ إصدار بطاقة الهوية:</ion-label>
          <mbsc-datepicker [(ngModel)]="personal_info.date_national" [controls]="['date']" dateWheels='DD MM YYYY' [calendarSystem]="hijriCalendar" dateFormat="YYYY/MM/DD" [locale]="localeAr"></mbsc-datepicker>

        </ion-item>
        <ion-item>
          <ion-label color="primary" >تاريخ إنتهاء بطاقة الهوية:</ion-label>
          <mbsc-datepicker [(ngModel)]="personal_info.date_ex_national" [controls]="['date']" dateWheels='DD MM YYYY' [calendarSystem]="hijriCalendar" dateFormat="YYYY/MM/DD" [locale]="localeAr"></mbsc-datepicker>

        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الوظيفة</ion-label>
          <ion-input [(ngModel)]="personal_info.job"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="logForm()"  expand="block" color="green" class="ion-margin-top" routerLink="/contact-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button expand="block"  color="green" fill="outline" class="ion-margin-top" >رجوع</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
