<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-title color="dark" class="main-header4"> الدراسه المبدئية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="initial"  class="ion-margin ion-padding-top">
    <ion-row>
      <ion-col>
        <ion-list lines="">
          <ion-item>
            <ion-label color="green-gh" floating>عدد أفراد الأسرة </ion-label>
            <ion-input class="required" [(ngModel)]="initial.family" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="green-gh" floating>الراتب</ion-label>
            <ion-input class="required" [(ngModel)]="initial.salary" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="green-gh" floating>الضمان </ion-label>
            <ion-input class="required" [(ngModel)]="initial.social_security" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="green-gh" floating>تقاعد </ion-label>
            <ion-input class="required" [(ngModel)]="initial.retirement" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="green-gh" floating>اخرى </ion-label>
            <ion-input class="required" [(ngModel)]="initial.other" ></ion-input>
          </ion-item>  
          <ion-item>
            <ion-label color="green-gh" floating>هل المنزل مستأجر </ion-label>
            <ion-select  class="required" [(ngModel)]="initial.home" >
              <ion-select-option >نعم</ion-select-option >
              <ion-select-option >لا</ion-select-option >
            </ion-select>
          </ion-item>   
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="logForm()"  expand="block" color="green" class="ion-margin-top" routerLink="/amina" routerDirection="forward">اظهار النتيجة</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
