<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="color-dark-page"(click)="dismissRegister()"ion-button icon-only>
        <ion-icon name="chevron-back-outline" class="component-icon size25" > </ion-icon>
      </button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
    <ion-row style="height: 50px"></ion-row>
    <ion-header  class="ion-no-border " collapse="condense">
    <ion-toolbar>
        <ion-title style="text-align: center;" class="color-dark-page" size="large">تسجيل مستخدم جديد</ion-title>
    </ion-toolbar>
    </ion-header>
    <form #form="ngForm"(ngSubmit)="register(form)" method="post">
      <div class="login-form">
        <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7 color-dark-page">
            تسجيل مستخدم جديد
          </h2>
        </ion-text>
        <ion-list class="ion-margin-top ion-padding">
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label >
                <ion-icon name="person-outline" ></ion-icon>
            </ion-label>
            <ion-input ngModel name="name" placeholder="الاسم"></ion-input>
          </ion-item>
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label >
                <ion-icon name="at-outline"></ion-icon>
            </ion-label>
            <ion-input  type="email" ngModel name="email" placeholder="البريد الالكتروني"></ion-input>
          </ion-item>

          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label>
                <ion-icon name="eye-off-outline"  ></ion-icon>
            </ion-label>
            <ion-input  type="password" ngModel name="password" placeholder=" الرقم السري"></ion-input>
          </ion-item>
          <ion-item class="color-light-page">
            <label>
              <input type="radio" ngModel  name="user_type" value="saudi" event="ionChange">
              سعودي
            </label>
            <label>
            </label>
            <label>
              <input type="radio" ngModel name="user_type" value="non_saudi" event="ionChange">
              غير سعودي
            </label>
          </ion-item>
        </ion-list>
        <ion-button type="submit" mode="ios" expand="block"  color="green" class="ion-margin-top" >
          تسجيل 
        </ion-button>
        <ion-row style="height: 15px"></ion-row>
        <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7 color-dark-page">
             لديك حساب بالفعل؟
          </h2>
        </ion-text>
        <ion-button  (click)="loginModal()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
          تسجيل الدخول
        </ion-button>
      </div>
    </form>
  </ion-grid>
</ion-content>
