<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ترحيب</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngIf="initial != undefined">
       يا {{ initial["result"] }} ما ضفتي صفحة البيانات البنكية 
  </div>
  <div *ngIf="user_type == 'saudi' else nonSaudi"> -->

    <!-- 
    <div *ngIf="accepted">
      <div *ngIf="accepted == 'yes' else nonAccepted">
        هنا اضيف شخص مؤهل يعني خيار تعبئة البيانات وخيار عرض الأهلية 
      </div>
      <ng-template #nonAcceptedo>
         هنا اضيف شخص غير مؤهل يعني خيارلاعادة اختبار الاهلية وخيار عرض الأهلية
      </ng-template>
    </div> -->
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/personal-info" routerDirection="forward">المفروض يشتغل بيانات شخصية</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/info" routerDirection="forward">info</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/camera" routerDirection="forward">camera</ion-button>
    </ion-col>
  </ion-row>
    <ion-col>
      <ion-item (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>
          تسجيل  الخروج
        </ion-label>
      </ion-item>    
    </ion-col>
  </ion-row>
  <!-- </div>  -->
  <!--  غير سعودي -->
  <!-- <ng-template #nonSaudi>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="danger" routerLink="/non-saudi" routerDirection="forward">non-saudi</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>
            تسجيل  الخروج
          </ion-label>
        </ion-item>    
      </ion-col>
    </ion-row>
  </ng-template> -->
</ion-content>