<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">المعلومات الاجتماعية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="social_info"  class="ion-margin ion-padding-top">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label color="primary"floating>الحالة الإجتماعية </ion-label>
          <ion-select [(ngModel)]="social_info.social_status">
            <ion-select-option>رب أسرة</ion-select-option >
            <ion-select-option>مطلقة</ion-select-option >
            <ion-select-option>أرملة</ion-select-option >
            <ion-select-option>مهجورة</ion-select-option >
            <ion-select-option>آخرى</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الزوجات</ion-label>
          <ion-select [(ngModel)]="social_info.wife_number">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>إجمالي عدد أفراد الأسرة المعالين</ion-label>
          <ion-select  [(ngModel)]="social_info.family_number">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
            <ion-select-option>8</ion-select-option >
            <ion-select-option>9</ion-select-option >
            <ion-select-option>10</ion-select-option >
            <ion-select-option>11</ion-select-option >
            <ion-select-option>12</ion-select-option >
            <ion-select-option>13</ion-select-option >
            <ion-select-option>14</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الذكور</ion-label>
          <ion-select  [(ngModel)]="social_info.male_number">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الاناث</ion-label>
          <ion-select  [(ngModel)]="social_info.female_number">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>من يتولى الإنفاق على الأسرة:</ion-label>
          <ion-select  [(ngModel)]="social_info.who_spend">
            <ion-select-option>والد</ion-select-option >
            <ion-select-option>والدة</ion-select-option >
            <ion-select-option>زوج</ion-select-option >
            <ion-select-option>زوجة</ion-select-option >
            <ion-select-option>ابن</ion-select-option >
            <ion-select-option>جد</ion-select-option >
            <ion-select-option>جدة</ion-select-option >
            <ion-select-option>أخ</ion-select-option >
            <ion-select-option>أخت</ion-select-option >
            <ion-select-option>ابن الإبن</ion-select-option >
            <ion-select-option>عم</ion-select-option >
            <ion-select-option>عمة</ion-select-option >
            <ion-select-option>خال</ion-select-option >
            <ion-select-option>خالة</ion-select-option >
            <ion-select-option>ابن الأخ</ion-select-option >
            <ion-select-option>ابن الأخت</ion-select-option >
            <ion-select-option>الجار</ion-select-option >
            <ion-select-option>فاعل خير</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary"floating>هل يتولى العائل أفراد آخرين</ion-label>
          <ion-select  [(ngModel)]="social_info.other_person" >
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الأفراد الذي يتولى العائل أمرهم</ion-label>
          <ion-select  [(ngModel)]="social_info.other_person_num">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>لماذا يتولى العائل أمرهم:</ion-label>
          <ion-input  [(ngModel)]="social_info.other_person_reason" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الدارسين من أفراد الأسرة:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الإبتدائية</ion-label>
          <ion-select  [(ngModel)]="social_info.primary_school">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة المتوسطة</ion-label>
          <ion-select  [(ngModel)]="social_info.middle_school">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الثانوية</ion-label>
          <ion-select  [(ngModel)]="social_info.high_school">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الجامعية</ion-label>
          <ion-select  [(ngModel)]="social_info.university">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الخريجين</ion-label>
          <ion-select  [(ngModel)]="social_info.graduated">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المعلومات الصحية</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل تشكو من أمراض مزمنة؟</ion-label>
          <ion-select  [(ngModel)]="social_info.disease">
            <ion-select-option>سليم</ion-select-option >
            <ion-select-option>أمراض القلب</ion-select-option >
            <ion-select-option>أمراض السكري</ion-select-option >
            <ion-select-option>ارتفاع ضغط الدم</ion-select-option >
            <ion-select-option>إعاقة بصرية أو سمعية/حركية</ion-select-option >
            <ion-select-option>آخرى</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المصابون بأمراض من أفراد العائلة:</ion-label>
          <ion-input  [(ngModel)]="social_info.disease_informations"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-input [(ngModel)]="social_info.children_informations"></ion-input>
        </ion-item> -->
        <button clear (click)="add()"></button>
        <ion-list>
          <ion-label color="primary" floating>معلومات الذكور والإناث التابعين</ion-label>
          <ion-item *ngFor="let entry of item_qty">
            <form #form="ngForm" (ngSubmit)="children_informations(form)" method="post">
              <ion-item>
              <ion-label color="primary" floating>الاسم</ion-label>
              <ion-input ngModel name='name'></ion-input>
                <ion-label class="required" color="primary" floating>الجنس </ion-label>
                <ion-select ngModel name='sex' >
                  <ion-select-option >انثى</ion-select-option >
                  <ion-select-option >ذكر</ion-select-option >
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label class="hable" color="primary" floating>رقم الهوية</ion-label>
                <ion-input ngModel name="national_id"></ion-input>
                <ion-label class="hable" color="primary" floating>تاريخ الميلاد</ion-label>
                <ion-datetime ngModel name="birth_date" min="2021-01-01" max="2040-01-01" displayFormat="YYYY MM DD"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
                  حفظ
                </ion-button>
              </ion-item>
            </form>
          </ion-item>
        </ion-list>

      <ion-button (click)="logForm()" expand="block"  color="green" class="ion-margin-top" routerLink="/job" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button expand="block" color="green" fill="outline" class="ion-margin-top"routerLink="/contact-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
