<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button  routerLink="/home" routerDirection="root" ion-button icon-only>
          <ion-icon color="danger" name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>المعلومات الاجتماعية</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div *ngIf="user_type">
    يا {{ user["result"] }} ما ضفتي صفحة البيانات البنكية 
  </div>
  
</ion-content>