<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">الإفصاح عن الإلتزامات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="commitments">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label color="primary" floating>إيجار سنوي</ion-label>
          <ion-input [(ngModel)]="commitments.rent_home" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required"  color="primary" floating>متوسط فاتورة الكهرباء(شهريا)</ion-label>
          <ion-input [(ngModel)]="commitments.electricity_bill"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="required"  color="primary" floating>متوسط فاتورة الماء(شهريا)</ion-label>
          <ion-input [(ngModel)]="commitments.water_bill"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>أقساط شهرية(الصندوق العقاري)</ion-label>
          <ion-input [(ngModel)]="commitments.monthly_fees"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>أقساط شهرية(بنك التنميه)</ion-label>
          <ion-input [(ngModel)]="commitments.monthly_fees_eco_bank"></ion-input>
        </ion-item>

      <ion-button (click)="logForm()" expand="block" color="green" class="ion-margin-top" routerLink="/attachment" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button  expand="block" color="green" fill="outline" class="ion-margin-top" routerLink="/bank-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
