<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">معلومات السكن</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-button (click)="log()"  expand="block" color="green" class="ion-margin-top" routerLink="/bank-info" routerDirection="forward">hh والتالي</ion-button>
  <div *ngIf="location_info">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label color="primary" floating>موقع السكن</ion-label>
          <ion-input [(ngModel)]="location_info.place"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>وصف السكن</ion-label>
          <ion-input [(ngModel)]="location_info.description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم المبنى</ion-label>
          <ion-input [(ngModel)]="location_info.building_num"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>نوع السكن</ion-label>
          <ion-select [(ngModel)]="location_info.building_type">
            <ion-select-option>فيلا</ion-select-option >
            <ion-select-option>دور</ion-select-option >
            <ion-select-option>بيت شعبي</ion-select-option >
            <ion-select-option>شقة</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ملكية السكن</ion-label>
          <ion-select [(ngModel)]="location_info.building_ownership">
            <ion-select-option>ملك</ion-select-option >
            <ion-select-option>مستأجر</ion-select-option >
            <ion-select-option>وقف</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating> رابط المنزل على قوقل ماب</ion-label>
          <ion-input [(ngModel)]="location_info.location_link"></ion-input>
        </ion-item>
        <div *ngIf="location_info.building_ownership == 'مستأجر'">
          <ion-item>
            <ion-label color="primary" floating>قيمة الإيجار</ion-label>
            <ion-input [(ngModel)]="location_info.building_rent"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>هل قيمة الإيجار مناسبة للسكن؟</ion-label>
            <ion-select [(ngModel)]="location_info.rent_evaluate">
              <ion-select-option>نعم</ion-select-option >
              <ion-select-option>لا</ion-select-option >
              <ion-select-option>غير مستأجر</ion-select-option >
            </ion-select>
          </ion-item>
        </div>
        <!-- home_category -->
        <ion-item>
          <ion-label>مكونات السكن</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let entry of home_category">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
        <!-- end of home_category -->
        <ion-item>
          <ion-label color="primary" floating>عدد جميع الغرف بالمنزل</ion-label>
          <ion-select [(ngModel)]="location_info.room_number_all">
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>اكثر</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل عدد الغرف كافية لأفراد الأسرة</ion-label>
          <ion-select [(ngModel)]="location_info.room_number">
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل وضع المنزل مناسب للسكن</ion-label>
          <ion-select [(ngModel)]="location_info.home_status">
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <div *ngIf="location_info.home_status == 'لا'">
        <ion-item>
          <ion-label color="primary" floating>مالسبب في كون السكن غير مناسب</ion-label>
          <ion-input [(ngModel)]="location_info.status_reason"></ion-input>
        </ion-item>
        </div>
        <ion-item>
          <ion-label color="primary" floating>ماهو تقييمك لجودة السكن</ion-label>
          <ion-select [(ngModel)]="location_info.home_quality">
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>ماهو تقييمك لحالة السكن(البنيةالأساسية)</ion-label>
        </ion-item>
        <!-- start test -->
        <div *ngFor="let entry of home_category">
          <div *ngIf="entry.val=='غرفة  نوم' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>غرفة نوم</ion-label>
              <ion-select [(ngModel)]="location_info.bedroom_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='صالة' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>صالة</ion-label>
              <ion-select [(ngModel)]="location_info.hall_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='مطبخ' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>مطبخ</ion-label>
              <ion-select [(ngModel)]="location_info.kitchen_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='مستودع' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>مستودع</ion-label>
              <ion-select [(ngModel)]="location_info.store_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='غرفة سائق' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>غرفة سائق</ion-label>
              <ion-select [(ngModel)]="location_info.driverroom_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='حوش' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>حوش</ion-label>
              <ion-select [(ngModel)]="location_info.outdoor_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='سطح' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>سطح</ion-label>
              <ion-select [(ngModel)]="location_info.roof_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='ملحق خارجي' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>ملحق خارجي</ion-label>
              <ion-select [(ngModel)]="location_info.annex_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>  
          <div *ngIf="entry.val=='مجلس' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>مجلس</ion-label>
              <ion-select [(ngModel)]="location_info.living_room_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="entry.val=='صالة طعام' && entry.isChecked">
            <ion-item>
              <ion-label color="primary" floating>صالة طعام</ion-label>
              <ion-select [(ngModel)]="location_info.dining_room_evaluate">
                <ion-select-option>تصدعات</ion-select-option >
                <ion-select-option>هبوط</ion-select-option >
                <ion-select-option>خطر</ion-select-option >
                <ion-select-option>بحاجة إلى صيانة</ion-select-option >
                <ion-select-option>مقبول</ion-select-option >
                <ion-select-option>ممتاز</ion-select-option >
              </ion-select>
            </ion-item>
          </div>
        </div>
        <ion-item>
          <ion-label color="primary" floating>دورات مياة</ion-label>
          <ion-select [(ngModel)]="location_info.bathroom_evaluate">
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <!-- category -->

        
        <ion-item>
          <ion-label>إلى ماذا يحتاج السكن</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let entry of category">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>

        <!-- end of category -->
        <ion-item>
          <ion-label>الأجهزة الكهربائية</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف سبيليت</ion-label>
          <ion-select [(ngModel)]="location_info.conditioner_1">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف شباك</ion-label>
          <ion-select  [(ngModel)]="location_info.conditioner_2">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف صحراوي</ion-label>
          <ion-select  [(ngModel)]="location_info.conditioner_3">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ثلاجة</ion-label>
          <ion-select  [(ngModel)]="location_info.refrigerator">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>فريزر</ion-label>
          <ion-select  [(ngModel)]="location_info.fraser">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>برادة ماء</ion-label>
          <ion-select  [(ngModel)]="location_info.water_cooler">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>غسالة</ion-label>
          <ion-select  [(ngModel)]="location_info.washing_machine">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>سخانة</ion-label>
          <ion-select  [(ngModel)]="location_info.heater">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكنسة كهرب</ion-label>
          <ion-select  [(ngModel)]="location_info.cleaner">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>دفاية</ion-label>
          <ion-select  [(ngModel)]="location_info.fireplace">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مروحة شفط</ion-label>
          <ion-select  [(ngModel)]="location_info.fan">
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>ماهو تقييمك لحالة الأجهزه الكهربائية</ion-label>
        </ion-item>

        <div *ngIf="location_info.conditioner_1 != 0 ">
          <ion-item>
            <ion-label color="primary" floating>مكيف سبيليت</ion-label>
            <ion-select  [(ngModel)]="location_info.conditioner_1_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.conditioner_2 != 0 ">
          <ion-item>
            <ion-label color="primary" floating>مكيف شباك</ion-label>
            <ion-select  [(ngModel)]="location_info.conditioner_2_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.conditioner_3 != 0 ">
          <ion-item>
            <ion-label color="primary" floating>مكيف صحراوي</ion-label>
            <ion-select  [(ngModel)]="location_info.conditioner_3_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.refrigerator != 0 ">
          <ion-item>
            <ion-label color="primary" floating>ثلاجة</ion-label>
            <ion-select  [(ngModel)]="location_info.refrigerator_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.fraser != 0 ">
          <ion-item>
            <ion-label color="primary" floating>فريزر</ion-label>
            <ion-select  [(ngModel)]="location_info.fraser_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.water_cooler != 0 ">
          <ion-item>
            <ion-label color="primary" floating>برادة ماء</ion-label>
            <ion-select  [(ngModel)]="location_info.water_cooler_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.washing_machine != 0 ">
          <ion-item>
            <ion-label color="primary" floating>غسالة</ion-label>
            <ion-select  [(ngModel)]="location_info.washing_machine_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.heater != 0 ">
          <ion-item>
            <ion-label color="primary" floating>سخانة</ion-label>
            <ion-select  [(ngModel)]="location_info.heater_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.cleaner != 0 ">
          <ion-item>
            <ion-label color="primary" floating>مكنسة كهرب</ion-label>
            <ion-select  [(ngModel)]="location_info.cleaner_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.fireplace != 0 ">
          <ion-item>
            <ion-label color="primary" floating>دفاية</ion-label>
            <ion-select  [(ngModel)]="location_info.fireplace_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="location_info.fan != 0 ">
          <ion-item>
            <ion-label color="primary" floating>مروحة شفط</ion-label>
            <ion-select  [(ngModel)]="location_info.fan_evaluate">
              <ion-select-option>بحاجة إلى تغيير</ion-select-option >
              <ion-select-option>بحاجة إلى صيانة</ion-select-option >
              <ion-select-option>مقبول</ion-select-option >
              <ion-select-option>ممتاز</ion-select-option >
            </ion-select>
          </ion-item>
        </div>

        <ion-item>
          <ion-label color="primary" floating>ماهو تقييمك لحالة الأثاث</ion-label>
          <ion-select  [(ngModel)]="location_info.evaluate_furniture">
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل المجالس مؤثثة؟</ion-label>
          <ion-select  [(ngModel)]="location_info.furnished">
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        </ion-list>
      <ion-button (click)="logForm()"  expand="block" color="green" class="ion-margin-top" routerLink="/bank-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button  expand="block"  color="green" fill="outline" class="ion-margin-top" routerLink="/job" routerDirection="backward">رجوع</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
