<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="height: 100px"></div>
    <div>
      <div class="title-icon-right">
        <img src="../../../../assets/zaad.png"  width="60px" style="display:inline-block" height="60px"/>
        <ion-title class="title-icon-right"  style="display:inline-block" ></ion-title>
      </div>
      <div class="title-icon-left">
          <img src="../../../../assets/logo.png"  width="77px" style="display:inline-block" height="40px"/>
          <ion-title class="title-icon-left"  style="display:inline-block" ></ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
    <div style="height: 50px"></div>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <div class="login-form">
        <ion-header  class="ion-no-border " collapse="condense">
          <ion-toolbar>
              <ion-title style="text-align: center;" class="color-dark-page" size="large">تسجيل الدخول</ion-title>
          </ion-toolbar>
        </ion-header>
        <div style="height: 10px"></div>
        <ion-list class="ion-margin-top ion-padding">
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label>
                <ion-icon  name="at-outline" ></ion-icon>
            </ion-label>
            <ion-input  ngModel type="email"  name="email" placeholder="البريد الالكتروني"></ion-input>
          </ion-item>
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
              <ion-label>
                  <ion-icon name="eye-off-outline" ></ion-icon>
              </ion-label>
              <ion-input  ngModel type="password" name="password" placeholder="الرقم السري"></ion-input>
          </ion-item>
          <!-- 
          <ion-item class="color-light-page>
              <ion-label>AnswerDescription</ion-label>
              <ion-checkbox (click)="rememberMe($event)"></ion-checkbox>
          </ion-item>
           -->
          <ion-row style="height: 8px"></ion-row>

          </ion-list>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
        دخول
        </ion-button>
        <ion-row style="height: 15px"></ion-row>
        <!-- <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7 color-dark-page">
              لا يوجد لديك حساب؟
          </h2>
        </ion-text> -->
        <ion-button (click)="registerModal()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
          تسجيل جديد
        </ion-button>
        <!-- <ion-button  expand="block"  color="green" fill="outline" class="ion-margin-top" (click)="loginCommit()">تسجيل دخول عضو لجنة
        </ion-button>

        <ion-button  expand="block"  color="green" fill="outline" class="ion-margin-top" routerLink="/camera" routerDirection="forward">تسجيل دخول عضو لجنة
        </ion-button> -->


      </div>
    </form>
  </ion-grid>
  
</ion-content>
