<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons start>
      <button  routerLink="/home" routerDirection="root"ion-button icon-only>
        <ion-icon color="dark"name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
        <ion-title color="dark" class="main-header4">معلومات الحساب البنكي</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-button (click)="log"  expand="block" color="green" class="ion-margin-top" routerLink="/commitment" routerDirection="forward">حفظ والتالي</ion-button>
  <div *ngIf="bank_info">
  <ion-row>
    <ion-col>
      <ion-list lines="">
        <ion-item>
          <ion-label color="primary" floating>اسم البنك</ion-label>
          <ion-input [(ngModel)]="bank_info.bank_name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الحساب</ion-label>
          <ion-input [(ngModel)]="bank_info.bank_account" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الأيبان</ion-label>
          <ion-input [(ngModel)]="bank_info.iban" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تأكيد رقم الأيبان</ion-label>
          <ion-input [(ngModel)]="bank_info.iban_confir" ></ion-input>
        </ion-item>
      </ion-list> 
      <ion-button   (click)="logForm()"  expand="block" color="green" class="ion-margin-top" routerLink="/commitment" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button  expand="block" color="green" fill="outline" class="ion-margin-top" routerLink="/home-info" routerDirection="backward">رجوع</ion-button>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
